.main_panel .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    height: 400px;
}

.main_panel .carousel input[type=radio] {
    display: none;
}

.carousel-card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    /* cursor: pointer; */
    display: grid;
    grid-template-columns: auto 150px;
}

.carousel-card .description {
    width: 100%;
    align-items: self-start;
    background: #eeeeee;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5d5e5e;
}

.carousel-card .description .info {
    display: grid;
    grid-template-columns: 30px auto;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.cards .preview_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#item-1:checked~.cards #card-5,
#item-2:checked~.cards #card-1,
#item-3:checked~.cards #card-2,
#item-4:checked~.cards #card-3,
#item-5:checked~.cards #card-4 {
    transform: translatex(-30%) scale(.9);
    opacity: .9;
    z-index: 1;
}

#item-1:checked~.cards #card-2,
#item-2:checked~.cards #card-3,
#item-3:checked~.cards #card-4,
#item-4:checked~.cards #card-5,
#item-5:checked~.cards #card-1 {
    transform: translatex(30%) scale(.9);
    opacity: .9;
    z-index: 1;
}

#item-1:checked~.cards #card-4,
#item-2:checked~.cards #card-5,
#item-3:checked~.cards #card-1,
#item-4:checked~.cards #card-2,
#item-5:checked~.cards #card-3 {
    transform: translatex(-50%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #card-3,
#item-2:checked~.cards #card-4,
#item-3:checked~.cards #card-5,
#item-4:checked~.cards #card-1,
#item-5:checked~.cards #card-2 {
    transform: translatex(50%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #card-1,
#item-2:checked~.cards #card-2,
#item-3:checked~.cards #card-3,
#item-4:checked~.cards #card-4,
#item-5:checked~.cards #card-5 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 2;
}

@media all and (max-width: 650px) {
    .carousel-card {
        grid-template-columns: none;
    }
}