.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgb(182 182 182 / 75%);
    box-shadow: 0 5px 5px rgb(182 182 182 / 75%);
    height: 70px;
    position: relative;
}

.header .search_wrap {
    display: flex;
    align-items: center;
    width: 30%;
}

.header .search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.header .search input {
    width: 100%;
    padding: 8px;
    border-radius: 0.3em 0px 0px 0.3em;
    border: 2px solid #cccccc;
    outline: none;
    height: 36px;
}

.header .search input:focus {
    border: 2px solid #7447dd;
}

.header .search-icon {
    padding: 8px;
    background: #eeeeee;
    border-radius: 0px 0.3em 0.3em 0px;
    border: 2px solid #cccccc;
    border-left: 0px;
    height: 36px;
}

.header .micro-icon,
.header .bell-icon {
    font-size: 20px;
    color: #bbbbbb;
}

.header .micro-icon:hover,
.header .bell-icon:hover {
    color: #888888;
}

.header .search-icon:hover {
    background: #bbbbbb;
}

.header .right-side {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    color: #7447dd;
    align-items: center;
}

.header-logo .logo_text::selection {
    background: #361e6d;
    color: white;
}

.header .cat-icon {
    font-size: 30px;
    margin-right: 15px;
}

.header .logo_text {
    font-size: 35px;
}

.header .paw-icon {
    padding: 10px;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    border-radius: 50%;
    margin-left: 15px;
    display: block;
}

.header .dropdown {
    position: relative;
    display: inline-block;
}

.header .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    /* border: 2px solid #cccccc; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0px;
    margin-top: 5px;
    border-radius: 0.5em;
}

.header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .dropdown-content a i {
    margin-right: 5px;
}

.header .dropdown-content a:first-child {
    border-radius: 0.5em 0.5em 0 0;
}

.header .dropdown-content a:last-child {
    border-radius: 0 0 0.5em 0.5em;
}

.header .dropdown-content .logout {
    border-top: 2px solid #cccccc;
    color: rgb(175, 1, 1);
}

.header .dropdown-content a:hover {
    background-color: #ddd;
}

.header .dropdown:hover .dropdown-content {
    display: block;
}

.header .dropdown:hover .paw-icon {
    background: #cccccc;
}