.main_content {
    display: grid;
    grid-template-columns: 240px auto;
    height: calc(100vh - 70px);
}

@media all and (max-width: 1200px) {
    .main_content {
        grid-template-columns: 60px auto;
    }
}