.main_panel {
    padding: 15px 10px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.main_panel_content {
    flex-grow: 1;
}

.categories {
    height: 30px;
    display: flex;
    grid-gap: 15px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.category {
    background: #cccccc;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 3em;
    border: 2px solid #bbbbbb;
    white-space: nowrap;
    position: relative;
}

.category:first-child {
    background: #361e6d;
    border: 2px solid #2a1757;
    color: white;
}

.category:not(:first-child):hover {
    background: #bbbbbb;
    border: 2px solid #2a1757;
}

.main_panel .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}

.preview {
    overflow: hidden;
    position: relative;
}

.preview .live-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 0.3em;
    cursor: pointer;
}

.preview .paw {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: xx-large;
    color: white;
    cursor: pointer;
}

.preview:hover .paw {
    display: block;
}

.preview:hover .preview_img::after {
    animation: fadein 2s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.preview .viewers,
.preview .duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 0.3em;
    cursor: pointer;
}

.description .avatar {
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description .avatar img {
    width: 20px;
    height: 20px;
}

.description .names {
    width: 100%;
    display: grid;
    white-space: nowrap;
    padding-left: 10px;
}

.description .names span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.description .names span:hover {
    color: #8957fe;
}

.description .names span::selection,
.description span.detail::selection {
    background: #361e6d;
    color: white;
}

.description .video-name {
    font-size: large;
    color: black;
}

.description .options{
    cursor: pointer;
}

.main_panel .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.main_panel .footer .bsa-icon {
    margin-left: 10px;
}

.main_panel .footer .bsa-icon img {
    width: 30px;
}

.main_panel::-webkit-scrollbar {
    width: 5px;
}

.main_panel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5em;
}

.main_panel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main_panel {
    scrollbar-width: thin;
    scrollbar-color: rgb(136, 136, 136) auto;
}

.categories::-webkit-scrollbar {
    height: 0px;
}

.categories {
    scrollbar-width: none;
}