.side_panel {
    display: flex;
    flex-direction: column;
    background: #eeeeee;
}

.side_panel .streamers {
    overflow-y: auto;
    overflow-y: overlay;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 205px);
}

.side_panel_streamer {
    display: grid;
    grid-template-columns: 30px auto 70px;
    align-items: center;
    padding: 15px;
}

.side_panel_streamer:hover {
    background: #ccc;
}

.side_panel_streamer .icon {
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_panel_streamer .icon img {
    width: 20px;
    height: 20px;
}

.side_panel_streamer .viewers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.side_panel_streamer .viewers .amount {
    font-size: large;
}

.side_panel_streamer .viewers .pulse {
    background-color: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 4px rgba(255, 0, 0, 0);
    }
    100% {
        transform: scale(0.9);
    }
}

.side_panel_streamer .name {
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.side_panel_streamer .name:hover {
    color: #7447dd;
}

.side_panel .footer_wrap {
    display: block;
    padding: 15px;
    padding-top: 0px;
}

.side_panel .footer_wrap:before {
    content: "";
    position: absolute;
    left: 0;
    width: 240px;
    height: 5px;
    background: linear-gradient( 130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.side_panel .footer {
    text-align: center;
    background: #cccccc;
    height: 100px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    border-radius: 0.2em;
}

.side_panel span.footer-text::selection {
    background: #361e6d;
    color: white;
}

.side_panel .social_media {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    grid-gap: 30px;
}

.side_panel .social_media i:hover {
    color: #7447dd;
}

@media all and (max-width: 1200px) {
    .side_panel .footer_wrap {
        display: none;
    }
    .side_panel .streamers {
        overflow-x: hidden;
        height: calc(100vh - 70px);
    }
    .side_panel_streamer :not(:first-child) {
        display: none;
    }
}

.side_panel .streamers::-webkit-scrollbar {
    width: 6px;
}

.side_panel .streamers::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5em;
}

.side_panel .streamers::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.side_panel .streamers {
    scrollbar-width: thin;
    scrollbar-color: rgb(136, 136, 136) auto;
}