.video_card {
    color: #5d5e5e;
    overflow: hidden;
}

.video_card .preview img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.video_card .description {
    height: 60px;
    display: grid;
    grid-template-columns: 30px auto 10px;
    align-items: center;
}